/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.dusk.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/*
/public/css/*
/public/build/
/public/mix-manifest.json
composer.lock
.DS_Store
.php_cs.cache
package-lock.json
tags
tags.lock
tags.temp
tags.temp.tmp
.gutctags
/storage/app/*
/public/photos/*
/public/vendor/horizon/
/public/*.js
/storage/debugbar
/storage/clockwork
